
#header{
    position: absolute;
    width: 100%;
}
.header{
    height: 60px;
    background: #fff;
    border-bottom: 0;
}
.header_left{
    position: absolute;
    height: 60px;
    top: 0;
    left: 0;
    padding-left: 24px;
}
.header_left .top_info{
    color: #222;
    font: 13px Arial,sans-serif;
    margin-right: 26px;
    margin-top: 21px;
    display: inline-block;
    position: relative;
}
.header_right{
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    padding-right: 24px;
}
.header_right .top_info{
    color: #222;
    font: 13px Arial,sans-serif;
    margin-right: 26px;
    margin-top: 21px;
    display: inline-block;
    position: relative;
}
.btn_style{
    background-color: rgb(78,113,242);
    height: 24px;
    width: 48px;
    line-height: 22px;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    outline: 0;
}
#mid_style{
    position: relative;
    height: 38%;
    width: auto;
    margin: 0 auto;
}
.img_mini{
    width: 270px;
    height: 129px;
    left: 50%;
    position: absolute;
    margin-left: -135px;
}
.form_position{
    position: relative;
}
.inp_style{
    width: 520px;
    height: 40px;
    position: absolute;
    left: 28%;
    margin-top: 145px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: none;
    font-size: 16px;
    /*vertical-align: top;*/
    outline: 0;
    border: 2px solid rgb(78,110,242);
    overflow: hidden;
    padding-left: 18px;
}
.button_mini{
    cursor: pointer;
    position: absolute;
    width: 108px;
    height: 44px;
    left: 953px;
    margin-top: 145px;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(78,110,242);
    color: #ffffff;
    box-shadow: none;
    font-size: 17px;
    line-height: 42px;
    border: none;
    outline: 0;
}
.hot_font{
    font: 14px/24px Arial,sans-serif;
    color: #222;
    position: absolute;
    left: 28%;
    top: 80%;
}
.img_icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 520px;
    top: 80%;
}
.font_mini{
    font: 13px Arial,sans-serif;
    position: absolute;
    right: 478px;
    top: 81%;
    color: #9195a3;
}
.ul_style{
    text-align: left;
    width: 780px;
    position: relative;
    left: 28%;
}
.ul_style li{
    margin-right: 100px;
    width: 268px;
    float: left;
    list-style: none;
}
.ul_style li a{
    color: #222222;
    height: 32px;
    line-height: 32px;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(251,251,251);
}
.footer_ul{
    text-align: left;
    width: 600px;
    position: absolute;
    left: 25px;
    top: 25%;
}
.footer_ul li{
    float: left;
    margin-right: 20px;
    list-style: none;
    font: 12px Arial,sans-serif;
}
.footer_ul li a{
    color: rgb(159,149,183);
}
.footer_ul li .woo_good{
    text-decoration: underline;
    color: rgb(145,149,163);
    font-weight: bold;
}
.ul_right_bottom{
    text-align: left;
    width: 535px;
    position: absolute;
    right: 0;
    top: 25%;
}
.ul_right_bottom li{
    float: left;
    margin-right: 20px;
    list-style: none;
    font: 12px Arial,sans-serif;
    color: rgb(193,187,187);
}


